<div id="background">
		
	<h2>Your Featured Items</h2>
	<% @products.each do |product | %>

	<div id="background_image">
		<ul><%= image_tag "#{product.id}.jpg", size: "75x75" %><strong><%= product.name %> Rotary Phone</strong></ul>
	</div>	
		
		<ul><%= product.short_description %>...</ul>
		<ul>Item #:  <%= product.sku %>     Sale Price $ <%= number_to_currency((product.price)*0.9) %></ul>
		<ul>
			<%= link_to "Buy", "#" %>
			<%= link_to "More Info", product_path(product.id) %>
		</ul>
		<hr>
	<% end %>
	<br>
	<a href="#" class="button button_highlight">Button Here</a>
</div>
