<!DOCTYPE html>
<html>
<head>
  <title>Shoppe2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div id="main_navigation">
	<%= link_to "Shoppe2 Logo Here", store_path %> 
	<nav>		
		<%= link_to "Add New Item", new_product_path %>
		<a href="#">Categories</a>
		<a href="#">Sign In</a>
		<%= link_to 'My Cart' %>
	</nav>
</div>
	
<body>
	
	</div>
		<div id="columns">
			<div id="side">
				<div id="cart">
					<%= hidden_div_if(@cart.ordered_items.empty?, id: 'cart') do %>
						<%= render @cart %>
					<% end %>
				</div>
				
				</div>
			<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
